<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Moment 1 - Serverbaserad webbutveckling</title>
</head>
<body>
    <header>
        <%- include("partials/mainnav") %>
    </header>
    <main>
        <h2>Kurslistan:</h2>
        <table>
            <thead>
                <tr>
                    <th>Kurskod</th>
                    <th>Kursnamn</th>
                    <th>Progression</th>
                    <th>URL till kursplanen</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="courseList">
                <% if(locals.rows.length > 0) { %>
                    <% locals.rows.forEach((row)=> { %>
                    <tr>
                        <td><%= row.coursecode %></td>
                        <td><%= row.coursename %></td>
                        <td><%= row.progression %></td>
                        <td><a href="<%= row.syllabus %>" target="_blank"><%= row.syllabus %></a></td>
                        <td>
                            <a href="/delete/<%= row.id %>">
                                <strong class="fas fa-times" id="delete"></strong>
                            </a>
                        </td>
                    </tr>
                    <% }); %>
                <% } %>
            </tbody>
        </table>
    </main>
</body>
</html>